<h3>Create new form</h3>
<br />
<span>Enter Form Name: </span><input type="text" size=25>
<br/>
{{#each model.fields as |field|}}
    {{field-item field=field showDelete=true
        updateHiddenFields=(action "updateHiddenFields")
        deleteField=(action "deleteField")}}
{{/each}}
<button {{action "addNewField"}}>Add Field </button>
<button {{action "createForm"}}>Create Form</button>
<button  {{action "cancelForm"}}>Cancel</button>
{{outlet}}
